body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 336.79px;
    max-width: 400px;
    background-color: #fff;
    padding: 29px 35px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



.transfer {
    text-align: right;
    padding-bottom: 15px;
    color: var(--primary);
}

.bg-img--left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 507.2px;
}

.bg-img--right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42.5%;
}

.logo-ptit {
    text-align: center;
}

#register-form {
    font-size: 13px;
}